@font-face {
    font-family: 'icomoon';
    src: url('../../../assets/fonts/icomoon.eot');
    src: url('../../../assets/fonts/icomoon.eot#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/icomoon.ttf') format('truetype'),
         url('../../../assets/fonts/icomoon.woff') format('woff'),
         url('../../../assets/fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-search:before { content: "\e951"; }
.icomoon-time:before { content: "\e952"; }
.icomoon-sign:before { content: "\e953"; }
.icomoon-lock2:before { content: "\e954"; }
.icomoon-mobile:before { content: "\e955"; }
.icomoon-right:before { content: "\e956"; }
.icomoon-icon_creditcard:before { content: "\e930"; }
.icomoon-icon_pin_alt:before { content: "\e92f"; }
.icomoon-icon_book_alt:before { content: "\e926"; }
.icomoon-icon_floppy_alt:before { content: "\e929"; }
.icomoon-icon_plus_alt:before { content: "\e924"; }
.icomoon-arrow_up_alt:before { content: "\e925"; }
.icomoon-chat-down:before { content: "\e922"; }
.icomoon-chat-up:before { content: "\e923"; }
.icomoon-user-in:before { content: "\e921"; }
.icomoon-open-eye:before { content: "\e927"; }
.icomoon-phone:before { content: "\e928"; }
.icomoon-icon_pencil-edit:before { content: "\e920"; }
.icomoon-icon_clock_alt:before { content: "\e91f"; }
.icomoon-icon_pencil:before { content: "\e91a"; }
.icomoon-icon_trash:before { content: "\e918"; }
.icomoon-icon_upload:before { content: "\e919"; }
.icomoon-icon_download:before { content: "\e917"; }
.icomoon-icon_check:before { content: "\e916"; }
.icomoon-arrow_carrot-right:before { content: "\e90c"; }
.icomoon-arrow_carrot-left:before { content: "\e915"; }
.icomoon-double-triangle:before { content: "\e906"; }
.icomoon-icon_close:before { content: "\e900"; }
.icomoon-icon_cog:before { content: "\e901"; }
.icomoon-icon_chat_alt:before { content: "\e902"; }
.icomoon-icon_contacts:before { content: "\e903"; }
.icomoon-icon_group:before { content: "\e904"; }
.icomoon-icon_calendar:before { content: "\e905"; }
.icomoon-arrow_triangle-down:before { content: "\e907"; }
.icomoon-icon_comment_alt:before { content: "\e908"; }
.icomoon-icon_search2:before { content: "\e909"; }
.icomoon-icon_house_alt:before { content: "\e90a"; }
.icomoon-bell:before { content: "\e90b"; }
.icomoon-credit:before { content: "\e90d"; }
.icomoon-doller:before { content: "\e90e"; }
.icomoon-envelop:before { content: "\e90f"; }
.icomoon-gift:before { content: "\e910"; }
.icomoon-irb:before { content: "\e911"; }
.icomoon-screen:before { content: "\e912"; }
.icomoon-signout:before { content: "\e913"; }
.icomoon-star:before { content: "\e914"; }
.icomoon-instagram:before { content: "\e931"; }
.icomoon-help-with-circle:before { content: "\e92b"; }
.icomoon-arrow-right:before { content: "\e943"; }
.icomoon-arrow-left:before { content: "\e944"; }
.icomoon-arrow-down:before { content: "\e945"; }
.icomoon-arrow-up:before { content: "\e946"; }
.icomoon-arrow-circle-o-left:before { content: "\e939"; }
.icomoon-arrow-circle-o-right:before { content: "\e93a"; }
.icomoon-arrow-circle-o-up:before { content: "\e93b"; }
.icomoon-arrow-circle-o-down:before { content: "\e93c"; }
.icomoon-envelope-square:before { content: "\e93d"; }
.icomoon-pinterest-square:before { content: "\e93e"; }
.icomoon-twitter-square:before { content: "\e93f"; }
.icomoon-instagram2:before { content: "\e940"; }
.icomoon-facebook-square:before { content: "\e941"; }
.icomoon-phone-square:before { content: "\e942"; }
.icomoon-pinterest-p:before { content: "\e932"; }
.icomoon-linkedin:before { content: "\e933"; }
.icomoon-google-plus:before { content: "\e934"; }
.icomoon-twitter:before { content: "\e935"; }
.icomoon-facebook:before { content: "\e936"; }
.icomoon-facebook-f:before { content: "\e936"; }
.icomoon-automobile:before { content: "\e937"; }
.icomoon-car:before { content: "\e937"; }
.icomoon-map-marker:before { content: "\e938"; }
.icomoon-twitter-shape .path1:before {
	content: "\e947";
	color: rgb(1, 1, 1);
}
.icomoon-twitter-shape .path2:before {
	content: "\e948";
	margin-left: -0.978515625em;
	color: rgb(255, 255, 255);
}
.icomoon-facebook-shape .path1:before {
	content: "\e949";
	color: rgb(1, 1, 1);
}
.icomoon-facebook-shape .path2:before {
	content: "\e94a";
	margin-left: -0.943359375em;
	color: rgb(255, 255, 255);
}
.icomoon-giant-shape .path1:before {
	content: "\e94b";
	color: rgb(1, 1, 1);
}
.icomoon-giant-shape .path2:before {
	content: "\e94c";
	margin-left: -0.943359375em;
	color: rgb(255, 255, 255);
}
.icomoon-instagram-shape .path1:before {
	content: "\e94d";
	color: rgb(1, 1, 1);
}
.icomoon-instagram-shape .path2:before {
	content: "\e94e";
	margin-left: -1.0546875em;
	color: rgb(255, 255, 255);
}
.icomoon-pint-shape .path1:before {
	content: "\e94f";
	color: rgb(1, 1, 1);
}
.icomoon-pint-shape .path2:before {
	content: "\e950";
	margin-left: -1.0771484375em;
	color: rgb(255, 255, 255);
}
.icomoon-bullhorn:before { content: "\e92d"; }
.icomoon-group:before { content: "\e92e"; }
.icomoon-users:before { content: "\e92e"; }
.icomoon-lock:before { content: "\e92a"; }
.icomoon-user-md:before { content: "\e91e"; }
.icomoon-bell-o:before { content: "\e91b"; }
.icomoon-bell2:before { content: "\e91c"; }
.icomoon-lab:before { content: "\e92c"; }
.icomoon-beta:before { content: "\e92c"; }
.icomoon-beaker:before { content: "\e92c"; }
.icomoon-test:before { content: "\e92c"; }
.icomoon-experiment:before { content: "\e92c"; }
.icomoon-envelope:before { content: "\e91d"; }
.icomoon-email:before { content: "\e91d"; }
.icomoon-mail:before { content: "\e91d"; }
.icomoon-letter:before { content: "\e91d"; }
.icomoon-contact:before { content: "\e91d"; }
