/*.textarea {
  border: none;
  resize: none;
  width: 100%;
}*/

.textarea {
    float: left;
    font: 18px Arial, Helvetica, sans-serif;
    height: 100px;
    margin: 0 0 13px;
    padding: 1% 2%;
    font-weight: bold;
    width: 100%;
    background-color: #fff;
    border: 0 none;
    -moz-box-shadow: inset 3px 2px 5px #c5c5c5;
    -webkit-box-shadow: inset 3px 2px 5px #c5c5c5;
    box-shadow: inset 3px 2px 5px #c5c5c5;
}