.leads-list .field-row {
  margin-bottom: 25px !important;
}

.lead-item {
  margin-bottom: 25px;

  .field-row {
    margin-bottom: 25px;
  }
}

div.link-delete {
  padding: 0;
  &:hover{
    cursor: pointer !important;;
  }
}
