.DS_Store

# Node.gitignore
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

#tests
reports/*
tests/browser/reports/*

dist
.env
.env.*
.idea/
