{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "upper",
    "string-quotes": "single",
    "font-family-name-quotes": "always-where-recommended",
    "declaration-empty-line-before": "never",
    "rule-empty-line-before": [
      "always", {
        "ignore": [
          "inside-block"
        ]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ],
    "indentation": 2
  }
}