.client-sites {
  .client-site-container {
    .fa {
      font-size: 1.3em;
      margin-left: 5px;
      vertical-align: bottom;
    }
    .btn-edit-site {
      padding-top: 0;
      padding-bottom: 0;
    }
    .toggle-assigned-users {
      cursor: pointer;
    }
    .assigned-users-list {
      margin-top: 5px;
      border-top: 1px solid #ececec;

      .assigned-user {
        padding: 5px 0;
        border-bottom: 1px solid #ececec;

        .edit-assigned-user {
          cursor: pointer;
        }
      }
    }

    td {
      &.name {
        width: 16%;
      }

      &.principal-investigator {
        width: 18%;
      }

      &.phone {
        width: 16%;
      }

      &.address {
        width: 20%;
      }

      &.assigned-users {
        width: 20%;
      }

      &.action {
        width: auto;
      }
    }
  }
}
