
.filter-area {
  padding: 5px 12px;
  background: #f1f1f1;
  margin: 0 12px 12px 0;
  border: solid 2px #ccc;

  >* {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px 0 0;
  }

  .title {
    line-height: 40px !important;
  }
  strong {
    line-height: 40px;
    text-transform: uppercase;
  }

  .form-control {
    width: 150px;
  }

  &.value-box {
    .title {
      margin-right: 2px !important;
    }

    .value-control {
      text-transform: capitalize;
      font-size: 18px;
      line-height: 1.25;
      padding: 9px 5px 9px 0px;
      height: 40px;
    }
  }

  &.compare-box {
    max-width: 520px;
  }

  .select {
    .form-control {
      width: 90px;
    }
  }

  .btn-close {
    top: auto;
    margin: 0;
    left: auto;
    right: auto;
    transform: none;
    -ms-transform: none;
    position: relative;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    border: solid 2px #00afef;
  }
  

}
