<% if (typeof htmlWebpackPlugin !== 'undefined') options = htmlWebpackPlugin.options %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>StudyKiK</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="apiHost" content="<%= options.apiHost %>">
</head>
<body>
  <div id="root"></div>
</body>
</html>
