
#select-reward-form {
	.field-row.full {
		.field {
			width: 100%;
			margin: 0 0 11px;
		}
		.label {
			width: 100%;
		}
	}

	.list-radios li {
    label {
			padding-left: 25px;
			height: 51px;
			display: flex;
			flex-direction: row;
			align-items: center;
			cursor: pointer;
		}

		.text {
			margin-left: 20px;
		}
	}

  .jcf-radio {
    border: none !important;
    background:transparent;
  }

  .jcf-radio input{
    cursor: pointer;
  }

  .images-area {
    margin: -3px -6px 15px !important;
  }
}
