#app {
  height: 100%;
}

.form-subscribe{
  .close{
    &:focus{
      //background-color: #fff !important;
    }
  }
}

.navbar-header{
  button{
    &.navbar-toggle{
      &:focus{
        background-color: #fff !important;
      }
    }

    &.btn-login{
      .invisible{
        visibility: hidden;
      }
    }
  }
}
