.holder{
  width: 100%;
}

.form-search {
  .btns-area{
    position: absolute;
    width: 39%;
    right: 0;
    bottom: 30px;

    .col{

      .btn-primary{
        position: relative !important;
      }
    }
  }
  .fields-holder {
    overflow: visible;
    width: 60%;
  }
}
