.receipts {
  .holder {
    width: 100%;
    height: 479px;
    .rdr-DateRange, .rdr-Calendar {
      min-height: 374px;
    }
    .rdr-DateRange >.rdr-Calendar {
      margin-left: 25px;
      margin-right: 6px;
      overflow: hidden;
    }
    .rdr-Calendar + .rdr-Calendar {
      margin-left: 6px;
      //margin-right: 25px;
    }
    .rdr-Calendar {
      margin-top: 25px;
      margin-bottom: 0;
    }

  }

  .form-search {
    .btns-area {
      margin: 0 0 0 50px;
      width: auto;
      bottom: auto;
      position: static;

      .col {

        .btn-primary {
          position: relative;
        }
      }
    }

    .fields-holder {
      overflow: hidden;
      .search-area {
        width: 40%;
      }
      .custom-select {
        width: 40%;
      }
    }
  }
}
