<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <title>StudyKiK</title>
    <meta name="Description" content="">
    <meta name="Keywords" content="">

  </head>
<body>
  <div className="container">
    <div className="row text-center">
    <h1 class="text-danger">Welp.</h1>
    <p>We couldn't find that page.</p>
    <p><a href="/" class="btn btn-primary">Go to Homepage</a></p>
    </div>
  </div>
  <div id="app" style="display:none;"></div>
  </body>
</html>
