.avatar-menu {
  overflow: hidden;
  position: absolute;

  &.avatar-menu-close {
    max-height: 0;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
  &.avatar-menu-open {
    max-height: 200px;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}
