@import '~assets/styles/variables.less';

@font-size-offset: 3px;
@text-color: @gray-lightisher;
@hover-color: @light-blue;
@inactive-color: transparentize(@text-color, 0.3);
@disabled-color: @gray;
@logo-width: 128px;

.navbar-studykik {
  background-color: @pure-white;
  z-index: 100;
  border: none;
  margin: 0;
  min-height: @topbar-height;
}

a.logo-link {
  padding: 26px 15px;
}

.nav.navbar-nav {
  padding-top: 15px;

  &.social-share {
    padding-top: 5px;
  }
}

li.nav-item {
  a {
    margin: 15px 0;
    padding: 0 10px;
    color: @text-color !important;
    text-transform: uppercase;
    border-right: 1px solid @disabled-color;

    &.active, &:hover {
      color: @hover-color !important;
    }
  }
  &:last-child a {
    border-right: none;
  }

}

li.nav-item.blue-color {
  a {
    color: @hover-color !important;
    text-transform: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

ul.social-share {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  width: 120px;

  li a {
    padding: 0 5px 5px 0;
    margin: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .navbar-studykik ul.social-share {
    width: 100%;
    display: block;
    background-color: @pure-white;

    li {
      float: left;
    }
  }

  li.nav-item a {
    border-right: none;
  }

  a.logo-link {
    padding: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-header {
    display: block;
    float: none;
    text-align: center;
  }

  a.logo-link {
    float: none;
    display: inline-block;
    padding: 11px;

    img {
      display: inherit;
    }
  }

}
