.studies {
  table {
    .inner-info {
      margin-left: 15px;

      .info-value {
        margin-left: 10px;
        color: #030303;
      }
    }
  }
  .study-container {
    .index {
      width: 5%;
    }
    .indication {
      width: 17%;
    }
    .location {
      width: 16%;
    }
    .sponsor {
      width: 16%;
    }
    .protocol {
      width: 15%;
    }
    .patient-messaging-suite {
      width: 7%;
    }
    .status {
      width: 8%;
    }
    .start-date {
      width: 8%;
    }
    .end-date {
      width: 8%;
    }
    &.tr-inactive {
      .protocol,
      .patient-messaging-suite,
      .status,
      .start-date,
      .end-date {
        & > span {
          opacity: 1;
        }
      }
      .btns-slide {
        opacity: 0;
        .btns {
          left: 0;
          width: 0;
        }
      }
    }
    &.tr-active {
      .btns-slide {
        opacity: 1;
        .btns {
          left: -480px;
          width: 480px;
        }
      }
      .status,
      .start-date,
      .end-date {
        & > span {
          opacity: 0;
        }
      }
      @media screen and (max-width: 1260px) {
        .protocol,
        .patient-messaging-suite {
          & > span {
            opacity: 0;
          }
        }
      }
    }
  }
}

.modal {
  &.edit-study-modal {
    .modal-lg {
      width: 590px;

      .modal-content {
        max-width: none;

        .modal-body {
          padding: 20px;
        }
      }
    }
  }

  &.renew-study-modal,
  &.upgrade-study-modal {
    .modal-lg {
      width: 1000px !important;

      .modal-content {
        max-width: none;

        .modal-body {
          padding-top: 0;
          padding-bottom: 0;

          & > .row {
            height: 100%;

            .left-panel,
            .right-panel {
              height: 100%;
              padding-top: 15px;
              padding-bottom: 15px;
            }
          }
        }
      }

      .left-panel {
        .form-renew-study,
        .form-upgrade-study {
          margin-top: 10px;
          padding-left: 14px;
          padding-right: 14px;
        }
      }

      .right-panel {
        border-left: 2px solid #f78e1e;
      }
    }
  }
}
