//dashboard-sponsor
.dashboard-sponsor{
  .custom-select{
    width: 25%;
  }
}
.dashboard-lightbox{
  .no-margins{
    margin: 0 !important;
  }

  .field-row{
    .label {
      padding-right: 10px !important;
      width: 37%;
    }
    .field{
      width: 63%;
    }
  }

  .add-messaging-number-row{
    margin: 8px 0 10px !important;
    .link-add-messaging-number{
      color: #636363;
      &:hover{
        color: #999;
        cursor: pointer;
      }
    }
  }

}

//dashboard-clients-admins
.dashboard-clients-admins{
  .custom-select{
    width: 25%;
  }
  .client-admins{
    td,
    th {
      &:nth-child(1) { width: 14%; }
      &:nth-child(2) { width: 22%; }
      &:nth-child(3) { width: 13%; }
      &:nth-child(4) { width: 17%; }
      &:nth-child(5) { width: 13%; }
      &:nth-child(6) { width: auto; }
    }
  }
}