//dashboard-sponsor
.dashboard-sponsor,
.dashboard-protocol,
.dashboard-cro,
.dashboard-indication
{
  .custom-select{
    width: 25%;
  }
  .table{
    tr{
      &:hover {
        > td{
          font-weight: 600;
        }
      }
    }
  }
}
.dashboard-lightbox{
  .no-margins{
    margin: 0 !important;
  }

  .field-row{
    .label {
      padding-right: 10px !important;
      width: 37%;
    }
    .field{
      width: 63%;
    }
  }

  .add-messaging-number-row{
    margin: 8px 0 10px !important;
    .link-add-messaging-number{
      color: #636363;
      &:hover{
        color: #999;
        cursor: pointer;
      }
    }
  }

}

//dashboard-clients-admins
.dashboard-clients-admins{
  .custom-select{
    width: 25%;
  }
  .client-admins{
    tr{
      &:hover {
        > td{
          font-weight: 600;
        }
      }
    }
    td,
    th {
      &:nth-child(1) { width: 15%; }
      &:nth-child(2) { width: 18%; }
      &:nth-child(3) { width: 12%; }
      &:nth-child(4) { width: 13%; }
      &:nth-child(5) { width: 13%; }
      &:nth-child(6) { width: auto; }
    }
  }
  .pull-left {
    padding-left: 6px;
    padding-right: 6px;
    a {
      margin-left: 0px;
    }
  }
}

//dashboard-manage-users
.dashboard-manage-users{
  .custom-select{
    width: 25%;
  }
  .table-manage-user{
    tr{
      &:hover {
        > td{
          font-weight: 600;
        }
      }
    }
    td,
    th {
      &:nth-child(1) { width: 24%; }
      &:nth-child(2) { width: 34%; }
      &:nth-child(3) { width: 20%; }
      &:nth-child(4) { width: 15%; }
      &:nth-child(6) { width: auto; }
    }
  }
}

//dashboard-sponsor-admin
.dashboard-sponsor-admin{
  .custom-select{
    width: 25%;
  }
  .table-sponsor-admin{
    tr{
      &:hover {
        > td{
          font-weight: 600;
        }
      }
    }
    td,
    th {
      &:first-child { width: 16%; }
      &:nth-child(2) { width: 16%; }
      &:nth-child(3) { width: 26%; }
      &:nth-child(4) { width: 18%; }
      &:nth-child(5) { width: 18%; }
      &:nth-child(6) { width: auto; }
    }
  }
}

//dashboard-portals
.dashboard-portals{
  .custom-select{
    width: 25%;
  }
  .first-custom-select{
    z-index: 6;
  }
  .selects-form{
    .fields-holder{
      margin: 0;
    }
    .second-row{
      margin-top: 30px;
    }
  }
}
