.sponsor-portal {
  .relative-element{
    position: relative;
  }
  table{
    td{
      word-wrap: break-word !important;
    }
  }
	.search-studies-panel {
		.btn-list-new-study {
			margin-left: 10px;
		}

		.form-search-protocols {
	  	width: 100%;
      z-index: 81;
      .fields-holder{
        width: calc(~'100% - 500px');
      }

      @media screen and (max-width: @psd) {
        .fields-holder{
          width: 100%;
        }
      }

      @media screen and (max-width: @psd) {
        .btns-popups{
          margin-bottom: 30px;
        }
      }
		}
	}

  .search-controls{
    .fields-holder{
      width: calc(~'100% - 670px');
    }
  }

  .fixed-table-head-relative{
    position: relative !important;
  }

  .report-view-fixed-header{
    top: 71px!important;
    z-index: 5;
  }

  .report-view-fixed-header[style*=" fixed;"] {
    border-bottom: 2px solid #ccc;
  }

  .report-view-header-container{
    position: relative;

    .table-left{
      width: 844px;
      background: #fff;
      .table {
        margin-bottom: 15px;
        > thead > tr > th {
          vertical-align: top;
        }
      }
    }

    .table-right{
      width: calc(~'100% - 844px');
      left: 844px;
      overflow: hidden;
      background: #fff;
      .table-right-inner{
        overflow-x: scroll;
        overflow-y: hidden;
        margin-bottom: -17px;
      }
      .table {
        width: 2600px;
        max-width: none;
        margin-bottom: 15px;
        > thead > tr > th {
          vertical-align: top;
        }
      }
    }



    @media screen and (max-width: @psd) {

      .table-left { width: 644px; }

      .table-right .table {
        width: 1875px;
      }

      .table-right{
        width: calc(~'100% - 644px');
        left: 644px;
      }
    }

  }


  .table-area{
    .active-table-row{
      background: #f1f1f1 !important;
      font-weight: 600;
      &:hover {
        > td{
          background: #f1f1f1 !important;
          font-weight: 600;
        }
      }
    }
  }

  .disabled-toggle-container{
    margin-left: 13px;
    opacity: 0.85;
    margin-right: 15px;

    .disabled-toggle{
      div{
        cursor: not-allowed !important;
        &:hover {
          cursor: not-allowed !important;
        }
      }
    }
  }

  .patient-messaging-suite{
    .patient-messaging-suite-status{
      margin-right: 5px;
    }
    &.off{
      color: #f78e1e;
    }
    color: #a0cf67;
  }

  .disabled-buttons-container{
    button{
      opacity: 0.65;
    }
  }

  .table-manage-user{
    tr{
      &:hover {
        > td{
          font-weight: 600;
        }
      }
    }
  }

  .table-manage-user.alt {
    tr{
      td{
        vertical-align: top;
      }
      .col6{
        a{
          margin-left: 8px;
        }
      }
    }
    .assigned-users-list{
      margin-top: 5px;
      .assigned-user{
        padding: 5px 0;
        a{
          margin-left: 8px;
        }
      }
    }
  }
}

.category-notes-container{
  margin: 25px;
  .name{
    padding-left: 75px;
    margin-bottom: 10px;
  }
  .patient-note-container{
    position: relative;
  }
  .img-holder {
    position: absolute;
    width: 50px;
    border-radius: 100%;
    top: 0;
    left: 0;
    img{
      display: block;
      max-width: 100%;
      border-radius: 100%;
    }
  }
  .category-notes-item{
    position: relative;
    padding-left: 75px;
    .post-content {
      &.reply{
        background: #00afef;
        border-color: #76daff;
        &:after {
          border-right-color: #00afef;
        }
        &:before {
          border-right-color: #76daff;
        }
      }
      .font(18px);
      margin: 0 0 5px;
      position: relative;
      padding: 7px 15px 5px;
      border: solid 2px #c0e890;
      color: #fff;
      background: #a0cf67;
      &:after, &:before {
        top: 11px;
        right: 100%;
        .arrow(10px 10px 10px 0);
        border-right-color: #c0e890;
      }
      &:after {
        top: 13px;
        z-index: 2;
        margin: 0 -1px 0 0;
        border-width: 8px 8px 8px 0;
        border-right-color: #a0cf67;
      }
      .stop-list-notification,
      .blast-message-notification{
        display: inline-block;
        margin: 10px 0 0;
        font-size: 15px;
        width: 100%;
      }
      p{
        margin-bottom: 5px;
      }
    }
    time{
      color: #949ca1;
      display: block;
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
}

.font-bold{
  font-weight: bold;
}

.tooltop-inner{
  padding: 7px 5px;
  min-width: 132px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.protocol-study-img{
  width: 100%;
  margin-bottom: 5px;
}

.manage-sponsor-user .table-holder+.table-holder {
  margin: 30px 0 0;
}
