form {
  .search-patients {
    label,
    .label-helper {
      font-size: 12px;
    }

    .indication-filter-selector {
      margin-right: 5px;
      vertical-align: sub;
    }

    .form-control {
      height: 36px;
      margin-bottom: 0;
    }

    .btn-search {
      margin-top: 25px;
    }

    .age-from,
    .age-to,
    .bmi-from,
    .bmi-to {
      display: inline-block;
      width: calc((100% - 10px)/2);
      float: none;
    }
  }
}
