.landing {

  .row{
    margin: 0;

    .centered {
      max-width: 592px;
      margin: 0 auto 42px;
    }

    .nodesc{
      margin-bottom: 0;
    }

    .img-holder {
      height: auto !important;
    }
  }
}

.invisible {
  visibility: hidden;
}