@sm: 991px;
@xs: 767px;

#remember{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  margin: 0px;
  opacity: 0;
}

label[for="remember"]{
  margin: 0 0 0 4px;
}

.logo-holder{
  &.loginPage{
    @media screen and(max-width: @sm) {
      position: absolute;
      width: 100%;
    }

    @media screen and(max-width: @xs) {
      position: absolute;
      width: 100%;
    }
  }
}

button.navbar-toggle{
  z-index: 5;
}