@sm: 991px;
@xs: 767px;

#remember{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  margin: 0px;
  opacity: 0;
}

label[for="remember"]{
  margin: 0 0 0 4px;
  line-height: 23px;
}

.navbar-header{
  button{
    &.navbar-toggle{
      &:focus{
        background-color: #fff !important;
      }
    }

    &.btn-login{
      .invisible{
        visibility: hidden;
      }
    }
  }
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }

  &>p, .alert>ul {
    margin-bottom: 0;
  }
}

