.cc-container{
  flex: 1;
  display: flex;
  .cc-row{
    flex: 1;
    margin: 10px;
    .cc-box {
      height: 120px;
      // align-items: center;
      justify-content: center;
      color: black;
      display: flex;
      flex-flow: column;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      background: white;
      padding: 15px;
      font-size: 16px;
    }
    .cc-box:last-child {
      margin-bottom: 0px;
    }
    .cc-box-heading{
      background: #76daff;
      border: none;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
    }
  }
}