.form-find-studies {
  position: relative;
  z-index: 2;
  .country-code {
    .Select.form-control {
      &.has-value {
        .Select-control {
          .Select-clear-zone {
            display: none;
          }
        }
      }
    }
  }
}
