.upload-patients-form {
  padding: 25px 0;

  .field-row {
    font-size: 0;
    line-height: 0;
    margin: 0 0 15px;
    position: relative;

    .label {
      width: 15%;
      color: #101010;
      margin: -1px 0;
      text-align: left;
      font-size: 18px;
      line-height: 22px;
      padding: 0 5px 0 0;
      text-transform: uppercase;
    }

    .field {
      width: 35%;
      position: relative;
    }
  }
}