.patient-database {
  .actions-panel {
    .fa {
      margin-right: 5px;
    }
  }
}

#patient-database-alert {
  .modal-content {
    padding: 15px 20px 25px;
  }
}

.multiSelectWrap {
  .Select {
    height: 100%;
  }
}

.Select-menu-outer {
  z-index: 10;
}

#file {
  display: none;
}

.text-email-blast-form .emails-counter {
  min-width: 108px !important;
  padding-right: 10px;
}

.patient-database-fixed-table-wrapper {
  min-height: 400px;
}

.text-email-blast-form .form-holder .patient-detail-text-blast {
  height: 178px;
}