.modal-content{
  border-radius: 0px !important;
}

.patient-database {
  .actions-panel {
    .fa {
      margin-right: 5px;
    }
  }
}

.multiSelectWrap{
  .Select {
    height: 100%;
  }
}

.Select-menu-outer{
  z-index: 10;
}

#file{
  display: none;
}