@font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon.eot');
    src:    url('../../fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon.woff') format('woff'),
        url('../../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-envelope:before {
  content: "\e91d";
}
.icomoon-alt-envelope:before {
  content: "\e90f";
}
.icomoon-email:before {
  content: "\e91d";
}
.icomoon-mail:before {
  content: "\e91d";
}
.icomoon-letter:before {
  content: "\e91d";
}
.icomoon-contact:before {
  content: "\e91d";
}
.icomoon-user-md:before {
  content: "\e91e";
}
.icomoon-bell-o:before {
  content: "\e91b";
}
.icomoon-bell2:before {
  content: "\e91c";
}
.icomoon-icon_book_alt:before {
  content: "\e926";
}
.icomoon-icon_floppy_alt:before {
  content: "\e929";
}
.icomoon-alt-plus:before {
  content: "\e924";
}
.icomoon-alt-arrow-up:before {
  content: "\e925";
}
.icomoon-chat-down:before {
  content: "\e922";
}
.icomoon-chat-up:before {
  content: "\e923";
}
.icomoon-user-in:before {
  content: "\e921";
}
.icomoon-open-eye:before {
  content: "\e927";
}
.icomoon-phone:before {
  content: "\e928";
}
.icomoon-icon_pencil-edit:before {
  content: "\e920";
}
.icomoon-icon_clock_alt:before {
  content: "\e91f";
}
.icomoon-icon_pencil:before {
  content: "\e91a";
}
.icomoon-icon_trash:before {
  content: "\e918";
}
.icomoon-icon_upload:before {
  content: "\e919";
}
.icomoon-icon_download:before {
  content: "\e917";
}
.icomoon-icon_check:before {
  content: "\e916";
}
.icomoon-arrow_carrot-right:before {
  content: "\e90c";
}
.icomoon-arrow_carrot-left:before {
  content: "\e915";
}
.icomoon-double-triangle:before {
  content: "\e906";
}
.icomoon-close:before {
  content: "\e900";
}
.icomoon-icon_cog:before {
  content: "\e901";
}
.icomoon-icon_chat_alt:before {
  content: "\e902";
}
.icomoon-icon_contacts:before {
  content: "\e903";
}
.icomoon-icon_group:before {
  content: "\e904";
}
.icomoon-icon_calendar:before {
  content: "\e905";
}
.icomoon-arrow_triangle-down:before {
  content: "\e907";
}
.icomoon-icon_comment_alt:before {
  content: "\e908";
}
.icomoon-icon_search2:before {
  content: "\e909";
}
.icomoon-icon_house_alt:before {
  content: "\e90a";
}
.icomoon-bell:before {
  content: "\e90b";
}
.icomoon-credit:before {
  content: "\e90d";
}
.icomoon-doller:before {
  content: "\e90e";
}
.icomoon-gift:before {
  content: "\e910";
}
.icomoon-irb:before {
  content: "\e911";
}
.icomoon-screen:before {
  content: "\e912";
}
.icomoon-signout:before {
  content: "\e913";
}
.icomoon-star:before {
  content: "\e914";
}
