.total-price {
  font-weight: bold;
}

.form-shopping-cart {
  .link-add-new-card {
    font-size: 26px;
    font-weight: 700;
  }

  &.no-border {
    .shopping-cart {
      border: 0 !important;

      .head {
        background: none;
        color: inherit;
        border: 0 !important;
      }

      .scroll-holder {
        padding-left: 14px;
        padding-right: 14px;
      }
    }
  }
}