/* react-date-range styles */
.rdr-Calendar {
	.rdr-MonthAndYear {
		.rdr-MonthAndYear-innerWrapper {
			height: 40px !important;
			.rdr-MonthAndYear-button {
				padding: 6px 10px !important;
			}		    
		}
	}
}

.link-holder {
	margin-top: 15px;
}